.button {
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 100px;
    color: var(--color-white);
    border: none;
    height: 2.25em;
    background-color: var(--color-oxide);
    box-shadow: var(--button-box-shadow);
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
}
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(85, 84, 84) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

.button__small {
    width: 6.25em;
}

.button__medium {
    width: 10.25em;
}

.button__large {
    width: 14.25em;
}
