.container {
    padding: 1rem;
}

table {
    border-collapse: collapse;
    font-size: 0.875em;
}

thead {
    border-bottom: 1px solid var(--color-border);
    height: 2rem;
}

thead > * + * {
    padding-left: 1.5rem;
}

th {
    height: 2rem;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.4em;
    color: var(--color-deep-grey);
}

td {
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem 0;
    height: 3.5rem;
}

tr:last-child td {
    border-bottom: none;
}

tr:not(thead tr):hover {
    background-color: var(--color-almost-white);
}

th,
td {
    padding-right: 1.5rem;
    text-align: left;
}

td:first-child,
th:first-child {
    padding-left: 1.5rem;
}

th:last-child {
    /* width: 100%; */
    text-align: end;
}

.button {
    text-align: end;
}

.row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.row_name {
    width: max(40%, 9rem);
    padding: 0.6rem 0;
}

.grow {
    width: 100%;
}
